.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:#3b82f6;
    background-color: black;
    border: 2px ;
    border-radius: 4px;
    padding: 8px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    width: 100%;
    padding: 10px 15px;
    color: white;
    background-color: #00f;
    border: 2px solid blue;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    transition: transform 0.3s ease;
  }
  
  .button:hover {
    color: #000;
    background-color: #3b82f6;
    transform: translateY(5px);
  }
  
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  